.metadata/
build/
__pycache__/

robotrace_v2/Debug/
robotrace_v2/.settings/
*launch
robotrace_v2/build/

# ローカル検証用テストは管理対象外とする
tests/

#cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
build.ninja

#Circuit
fp-info-cache
*lck

# analiysis
analysis/
!analysis/
analysis/*
!analysis/debug-bench-results-2026-09-29.md
!analysis/script/
analysis/script/*
!analysis/script/*.py
# obsidian
docs/.obsidian/**
